$columnNames: 'Numero', 'Nome', 'CEP', 'Rua', 'Complemento', 'Bairro', 'Cidade', 'UF';

mat-card {
  width: 100%
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

@each $column in $columnNames {
  .mat-column-#{$column} {
    text-align: right;
    margin: auto;
  }
}
