<!--<div class="card " style="width: 300px;">-->
<!--  <div [ngClass]="'card-header'">-->
<!--    <h3 [ngClass]="'card-title'">Sua agenda</h3>-->
<!--    <h4 [ngClass]="'card-subtitle text-muted'">Seja bem vindo!</h4>-->
<!--  </div>-->
<!--  <div [ngClass]="'card-body'">-->
<!--    <form [formGroup]="loginForm">-->
<!--      <div [ngClass]="'form-group row'">-->
<!--        <label [ngClass]="'col-md-2 col-form-label'"></label>-->
<!--        <div [ngClass]="'col-md-10'">-->
<!--          <input type="email" id="email" [ngClass]="'form-control'">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div [ngClass]="'form-group'">-->
<!--        <label></label>-->
<!--        <input>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Sua Agenda
    </mat-card-title>
    <mat-card-subtitle>Bem vindo!</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="loginForm">
      <div>
        <mat-form-field appearance="fill" [floatLabel]="'auto'">
          <mat-label>E-mail:</mat-label>
          <input matInput type="text" formControlName="email"
                 placeholder="usuario@email.com" email required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" floatLabel="auto">
          <mat-label>Senha:</mat-label>
          <input matInput type="password" formControlName="password" placeholder="***" required="">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button class="login-submit" (click)="onSubmit(loginForm.value)" [disabled]="!loginForm.valid">
      <mat-icon aria-hidden="false" aria-label="Login">check</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
