<mat-card [ngClass]="'align-self-center'">
  <!--  [ngClass]="'container'">-->
  <mat-card-header>
    <mat-card-title>
      Sua Agenda
    </mat-card-title>
    <mat-card-subtitle>Bem vindo!</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group [selectedIndex]="selected.value"
                   (selectedIndexChange)="selected.setValue($event)">
      <mat-tab label="Login">
        <form [formGroup]="loginForm" [ngClass]="'container'">
          <div [ngClass]="'row'">
            <mat-form-field [floatLabel]="'auto'" [ngClass]="'col'">
              <mat-label>Nome de usuário:</mat-label>
              <input matInput type="text" formControlName="username"
                     placeholder="ex: ferna123" required>
            </mat-form-field>
          </div>
          <div [ngClass]="'row'">
            <mat-form-field floatLabel="auto" [ngClass]="'col'">
              <mat-label>Senha:</mat-label>
              <input matInput type="password" formControlName="password"
                     placeholder="***" required="">
            </mat-form-field>
          </div>
          <div [ngClass]="'row'">
            <button mat-button class="login-submit"
                    (click)="onSubmit(loginForm.value)"
                    [disabled]="!loginForm.valid">
              Login
            </button>
          </div>
        </form>
      </mat-tab>


      <mat-tab label="Cadastre-se">
        <form [formGroup]="registerForm" [ngClass]="'container'">
          <div [ngClass]="'row'">
            <mat-form-field [ngClass]="'col'">
              <mat-label>Nome:</mat-label>
              <input matInput type="text" formControlName="name"
                     placeholder="'Ex: Fernando" required>
            </mat-form-field>
          </div>
          <div [ngClass]="'row'">
            <mat-form-field [ngClass]="'col'">
              <mat-label>E-mail:</mat-label>
              <input matInput type="email" formControlName="email"
                     placeholder="'Ex: ferna@address-list.com" required>
            </mat-form-field>
          </div>

          <div [ngClass]="'row'">
            <mat-form-field [floatLabel]="'auto'" [ngClass]="'col'">
              <mat-label>Nome de usuário:</mat-label>
              <input matInput type="text" formControlName="username"
                     placeholder="ex: ferna123" required>
            </mat-form-field>
          </div>
          <div [ngClass]="'row'">
            <mat-form-field floatLabel="auto" [ngClass]="'col'">
              <mat-label>Senha:</mat-label>
              <input matInput type="password" formControlName="password"
                     placeholder="***" required="">
            </mat-form-field>
          </div>
          <div [ngClass]="'row'">
            <button mat-button class="register-submit"
                    (click)="onCreateRegister(registerForm.value)"
                    [disabled]="!registerForm.valid">
              Registrar
            </button>
          </div>

        </form>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>

</mat-card>
