<h1 mat-dialog-title>{{address ? 'Editar' : 'Adicionar'}} endereço</h1>

<mat-dialog-content>

  <form [formGroup]="addressForm" [ngClass]="'container'">

    <div [ngClass]="'row'">
      <div [ngClass]="'col-md-6'">
        <mat-form-field appearance="fill">
          <mat-label>
            <mat-icon>person</mat-icon>
            Nome
          </mat-label>
          <input matInput type="text" [(ngModel)]="activeAddress.name"
                 formControlName="name"
                 placeholder="Ex.: Fernando"
                 required>
        </mat-form-field>
      </div>
      <div [ngClass]="'col-md-6'">
        <mat-form-field appearance="fill">
          <mat-label>CEP</mat-label>
          <input #cep
                 matInput
                 [(ngModel)]="activeAddress.cep"
                 (blur)="onSearchCep(cep.value)"
                 type="text"
                 formControlName="cep"
                 placeholder="00000000"
                 mask="{{cepNgxmaskPattern}}"
                 required>
        </mat-form-field>
      </div>
    </div>

    <div [ngClass]="'row'">
      <div [ngClass]="'col-md-6'">
        <mat-form-field appearance="fill">
          <mat-label>Logradouro</mat-label>
          <input matInput type="text" [(ngModel)]="activeAddress.street"
                 formControlName="street"
                 placeholder="Ex: Rua do Limoeiro">
        </mat-form-field>
      </div>
      <div [ngClass]="'col-md-6'">
        <mat-form-field appearance="fill">
          <mat-label>Bairro</mat-label>
          <input matInput type="text" [(ngModel)]="activeAddress.neighborhood"
                 formControlName="neighborhood"
                 placeholder="Ex: Bairro do Limoeiro">
        </mat-form-field>
      </div>
    </div>

    <div [ngClass]="'row'">
      <div [ngClass]="'col-md-6'">
        <mat-form-field appearance="fill">
          <mat-label>Cidade</mat-label>
          <input matInput type="text" [(ngModel)]="activeAddress.city"
                 formControlName="city"
                 placeholder="Ex: Salvador">
        </mat-form-field>
      </div>
      <div [ngClass]="'col-md-6'">
        <mat-form-field appearance="fill">
          <mat-label>UF</mat-label>
          <input matInput type="text" [(ngModel)]="activeAddress.usps"
                 formControlName="usps" placeholder="Ex: Ba">
        </mat-form-field>
      </div>
    </div>

    <div [ngClass]="'row'">
      <div [ngClass]="'col'">
        <mat-form-field>
          <mat-label>Complemento</mat-label>
          <textarea matInput type="text" [(ngModel)]="activeAddress.complement" formControlName="complement"
                    placeholder="Ex: Rua do Limoeiro"></textarea>
        </mat-form-field>
      </div>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <!--    <mat-icon>cancel</mat-icon>-->
    Cancelar
  </button>
  <button mat-button [mat-dialog-close]="activeAddress" [disabled]="!addressForm.valid">
    <!--    <mat-icon>save</mat-icon>-->
    Salvar
  </button>
</mat-dialog-actions>

